body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  padding-left: 1em;
}

button {
  padding: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

p {
  padding-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  padding-top: 0;
  text-align: left;
  color: purple;
  top: 0;
}

h3,
h4 {
  margin-bottom: 0;
}

nav {
  height: 250px;
  padding-left: 0;
  padding-top: 50px;
  display: inline-block;
  border-bottom: 5px solid black;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: grey;
  background-image: url('../src/pages/img/wu-yi-hzdrZ3fUdu0-unsplash.jpg')
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: flex;
  align-items: flex-start;
  display: inline-block;
  padding-top: 35px;
  padding-bottom: 0px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
  padding: 16px 32px;
  font-size: 30px;
}

nav a:hover {
  background: black;
  color: white;
}

#page-body {
  max-width: 900px;
  margin: auto;
  padding-top: 300px;
  padding-right: 2em;
}

.article-list-item {
  text-decoration: none;
  color: black;
  padding: 16px 0 0 0;
}

.article-list-item p {
  padding-bottom: 32px;
  border-bottom: 2px solid black;
}

#add-comment-form {
  border-bottom: 2px solid black;
  padding: 16px;
}

#add-comment-form h3 {
  margin-bottom: 16px;
}

#add-comment-form input,
textarea {
  display: block;
  width: 300px;
  padding: 8px;
  border-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  border: 2px solid black;
  margin-bottom: 16px;
}

#add-comment-form button {
  width: 320px;
}

#upvotes-section button,
p {
  display: inline-block;
  margin-right: 16px;
}

.comment {
  border-bottom: 2px solid black;
  padding: 16px;
}

img {
  float: left;
  padding-top: 30px;
  filter: brightness(2.6);
  border-radius: 60%;
  margin: 0px 15px 15px 0px;
}

.fa {
  padding: 20px;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */